{% load static %}

<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>

    <!-- Title -->
    <title>WELDINGEU - RAIL WELDING EQUIPMENT</title>

    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RAIL WELDING EQUIPMENT">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/vendor/themify-icons/css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/vendor/vegas/vegas.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/featherlight/featherlight.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/vendor/featherlight/featherlight.gallery.min.css' %}" type="text/css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/utilities.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

  </head>
  <body>

    {% comment %} <!-- Loader -->
    <div class="loader bg-dark">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div> {% endcomment %}

    <!-- Navbar -->
    <nav id="siteNavbar" class="site-navbar site-navbar-alternative navbar navbar-expand-lg align-items-start navbar-light fixed-top py-xl-4">

      <a class="navbar-brand mb-2 mb-lg-0 px-3 py-2 bg-white rounded shadow-light scrollto" href="#about">
        <img src="{% static 'assets/images/logo-dark.png' %}" alt="" class="navbar-brand-img navbar-brand-img-dark">
      </a>
    </nav>

    <!-- Button - Close flyer -->
    <a href="#intro" class="btn-close-flyer scrollto btn btn-icon btn-white shadow-light mr-4" tabindex="-1">
      <i class="fas fa-times btn-icon-inner"></i>
    </a>

    <!-- Button - Back to top -->
    <a href="#" class="btn-back-to-top scrollto btn btn-icon btn-white shadow-light mb-4 mr-4" tabindex="-1">
      <i class="fas fa-chevron-up btn-icon-inner"></i>
    </a>

    <!-- Intro Content -->
    <div id="intro" class="intro-content">

      <!-- Overlay -->
      <div class="overlay overlay-advanced overlay-intro">
        <div class="overlay-inner bg-image-holder bg-cover">
          <img src="{% static 'assets/images/photos/photo-8.jpg' %}" alt="background">
        </div>
        <div class="overlay-inner d-flex">
          <div class="skew-left" style="background-color: #002f52"></div>
          <div class="skew-right d-none d-xl-block bg-white opacity-70"></div>
        </div>
      </div>

      <div class="intro-content-inner inner-left min-vh-100 d-flex align-items-center py-9 py-lg-12">
        <div class="container ml-xl-0 pl-xl-10">
          <div class="row">
            <div class="col-12 col-lg-9 col-xl-9 mx-auto ml-xl-0 text-center text-xl-left text-white">

              <h1 class="display-4 mb-4">RAIL WELDING EQUIPMENT</h1>
              <p class="lead mb-7">Sorry, this site is currently under development</p>
              <a href="#about" class="btn btn-white mr-3 scrollto">AboutUS</a>

              <!-- <a href="https://tehnosvar.ru/">
                <button type="button" class="btn btn-soft-white">VISIT OUR SITE</button>
              </a> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Social Icons -->
      <ul class="list-inline position-absolute bottom-0 left-0 mb-4 mb-lg-5 ml-4 ml-lg-5">

        <li class="list-inline-item mx-0">
          <img src="{% static 'assets/images/photos/welding-qr.png' %}" width="50px" alt="background">
          <a class="btn btn-sm text-white" href="mailto://info@weldingeu.com" tabindex="0">
            <h4>info@weldingeu.com</h4>
          </a>
        </li>

        {% comment %} <li class="list-inline-item mx-0">
          <a class="btn btn-sm btn-icon btn-soft-white" href="#!" tabindex="0">
            <i class="fab fa-twitter btn-icon-inner"></i>
          </a>
        </li>

        <li class="list-inline-item mx-0">
          <a class="btn btn-sm btn-icon btn-soft-white" href="#!" tabindex="0">
            <i class="fab fa-linkedin-in btn-icon-inner"></i>
          </a>
        </li>

        <li class="list-inline-item mx-0">
          <a class="btn btn-sm btn-icon btn-soft-white" href="#!" tabindex="0">
            <i class="fab fa-dribbble btn-icon-inner"></i>
          </a>
        </li> {% endcomment %}

      </ul>

    </div>

    <!-- Flyer Backdrop -->
    <div class="flyer-backdrop">
      <div class="overlay overlay-advanced opacity-90" style="background-color: #002f52"></div>
    </div>

    <!-- Flyer -->
    <div class="flyer">
      <div class="flyer-inner">
        <div class="flyer-content flyer-content-lg shadow-dark-lg">

          <!-- About Section -->
          <section id="about" class="py-3 py-lg-12">
            <div class="container px-xl-10">
              <div class="row mb-2">
                <div class="col-lg-10 mx-auto text-center">
                  <h2>ABOUT US</h2>
                  <p class="mb-0">Railwelding is a modern company that has been specializing in develop-ment and production of rail welding equipment since 2005.</p>
                  <p class="mb-0">Close cooperation with major companies in Europe and Asia, and a strict attitude to quality form the key to efficient activities of our company.</p>
                </div>
              </div>
            </div>
          </section>

          <section id="about" class="py-9 py-lg-12">
            <div class="container px-xl-10">
              <div class="row mb-2 pb-8">
                <div class="col-lg-10 mx-auto text-center">
                  <h2>OUR PARTNERS</h2>
                </div>
              </div>
              <div class="row">

                <div class="col-6 col-lg-4 text-center m-2 mx-auto">
                  <p class="mt-2">Belarusian railways</p>
                  <img src="{% static 'assets/images/photos/belrailswelding.png' %}" width="80" alt="partner">
                </div>

                <!-- <div class="col-6 col-lg-4 text-center m-2 mx-auto">
                  <p class="mt-2">Russian Railways</p>
                  <img src="{% static 'assets/images/photos/rzd.png' %}" width="80" alt="partner">
                </div> -->

                <div class="col-6 col-lg-4 text-center m-2 mx-auto">
                  <p class="mt-2">Lithuanian Railways</p>
                  <img src="{% static 'assets/images/photos/latrails.png' %}" width="80" alt="partner">
                </div>

                <div class="col-6 col-lg-4 text-center m-2 mx-auto">
                  <p class="mt-2">Kazakh Railways</p>
                  <img src="{% static 'assets/images/photos/kazakhrails.png' %}" class="align-middle" align="center" width="80" alt="partner">
                </div>

                <!-- <div class="col-6 col-lg-4 text-center m-2 mx-auto">
                  <p class="mt-2">Moscow Metro</p>
                  <img src="{% static 'assets/images/photos/moscowmetro.png' %}" width="80" alt="partner">
                </div> -->

                <!-- <div class="col-6 col-lg-4 text-center m-2 mx-auto">
                  <p class="mt-2">St. Petersburg Metro</p>
                  <img src="{% static 'assets/images/photos/spbmetro.png' %}" width="80" alt="partner">
                </div> -->

                <div class="col-6 col-lg-4 text-center m-2 mx-auto">
                  <p class="mt-2">Ozbekiston temir yollari</p>
                  <img src="{% static 'assets/images/photos/uzbekrails.png' %}" width="80" alt="partner">
                </div>

              </row>
            </div>
          </section>

          <!-- Contact Section -->
          {% comment %} <section id="contact" class="py-9 py-lg-12 bg-light">
            <div class="container px-xl-10">
              <div class="row mb-8">
                <div class="col-lg-10 mx-auto text-center">
                  <h2>Contact Us</h2>
                  <p class="mb-0">Want to say hello? Want to know more about us? Give us a call or drop us an email and we will get back to you as soon as we can.</p>
                </div>
              </div>
              <div class="row mb-5">

                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="icon icon-boxed icon-4x rounded bg-white text-primary shadow-light mb-4">
                    <i class="ti-mobile"></i>
                  </div>
                  <p class="fs-14">(0091) 1111 1234567<br/>
                  (084) 2222 1234567</p>
                </div>

                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="icon icon-boxed icon-4x rounded bg-white text-primary shadow-light mb-4">
                    <i class="ti-location-pin"></i>
                  </div>
                  <p class="fs-14">69 Halsey St, New York, Ny 10002,<br/>
                  United States</p>
                </div>

                <div class="col-md-4">
                  <div class="icon icon-boxed icon-4x rounded bg-white text-primary shadow-light mb-4">
                    <i class="ti-email"></i>
                  </div>
                  <p class="fs-14">
                    <a href="mailto:support@example.com" class="text-dark">support@example.com</a><br/>
                    <a href="mailto:hello@example.com" class="text-dark">hello@example.com</a>
                  </p>
                </div>

              </div>
              <div class="contact-form">
                <form class="mb-0" id="cf" name="cf" action="include/sendemail.php" method="post" autocomplete="off">
                  <div class="form-row">

                    <div class="form-process"></div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" id="cf-name" name="cf-name" placeholder="Enter your name" class="form-control required">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="email" id="cf-email" name="cf-email" placeholder="Enter your email address" class="form-control required">
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <input type="text" id="cf-subject" name="cf-subject" placeholder="Subject (Optional)" class="form-control">
                      </div>
                    </div>

                    <div class="col-12 mb-4">
                      <div class="form-group">
                        <textarea name="cf-message" id="cf-message" placeholder="Message" class="form-control required" rows="7"></textarea>
                      </div>
                    </div>

                    <div class="col-12 d-none">
                      <input type="text" id="cf-botcheck" name="cf-botcheck" value="" class="form-control" />
                    </div>

                    <div class="col-12 text-center">
                      <button class="btn btn-primary" type="submit" id="cf-submit" name="cf-submit">Send Message</button>
                    </div>

                    <input type="hidden" name="prefix" value="cf-">

                  </div>
                </form>
                <div class="contact-form-result text-center"></div>
              </div>
            </div>
          </section> {% endcomment %}

          <!-- Footer -->
          {% comment %} <footer class="site-footer py-9 py-lg-12 bg-dark text-gray-500">
            <div class="container px-xl-10">
              <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                  <img src="{% static 'assets/images/logo-white.png' %}" alt="" class="h--8 w-auto mb-5">
                  <p class="text-gray-400 mb-5">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                  <ul class="list-inline mb-8">

                    <li class="list-inline-item mx-0">
                      <a class="btn btn-sm btn-icon btn-soft-secondary text-gray-400" href="#!" tabindex="0">
                        <i class="fab fa-facebook-f btn-icon-inner"></i>
                      </a>
                    </li>

                    <li class="list-inline-item mx-0">
                      <a class="btn btn-sm btn-icon btn-soft-secondary text-gray-400" href="#!" tabindex="0">
                        <i class="fab fa-twitter btn-icon-inner"></i>
                      </a>
                    </li>

                    <li class="list-inline-item mx-0">
                      <a class="btn btn-sm btn-icon btn-soft-secondary text-gray-400" href="#!" tabindex="0">
                        <i class="fab fa-linkedin-in btn-icon-inner"></i>
                      </a>
                    </li>

                    <li class="list-inline-item mx-0">
                      <a class="btn btn-sm btn-icon btn-soft-secondary text-gray-400" href="#!" tabindex="0">
                        <i class="fab fa-dribbble btn-icon-inner"></i>
                      </a>
                    </li>

                  </ul>
                  <p class="mb-0">© 2020 Landberg - All Rights Reserved - <a href="#!" class="text-gray-400">Privacy Policy</a></p>
                </div>
              </div>
            </div>
          </footer> {% endcomment %}

        </div>
      </div>
    </div>

    <!-- Subscribe Modal -->
    <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeNewsletter" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content hover-parent">

          <button type="button" class="btn btn-sm btn-icon btn-white position-absolute top-0 right-0 mt-n3 mr-n3 zindex-1" data-dismiss="modal" aria-hidden="true">
            <i class="fas fa-times btn-icon-inner"></i>
          </button>

          <!-- Overlay -->
          <div class="overlay overlay-advanced">
            <div class="overlay-inner bg-image-holder bg-cover">
              <img src="{% static 'assets/images/photos/photo-3.jpg' %}" alr="">
            </div>
            <div class="overlay-inner bg-primary opacity-70 hover-opacity-80"></div>
            <div class="overlay-inner bg-gradient-v-transparent-dark opacity-90 hover-opacity-80"></div>
          </div>

          <!-- Modal Body -->
          <div class="modal-body py-5 py-lg-8 px-5 px-lg-8 text-white text-center">

            <h2 id="subscribeNewsletter" class="mb-4">Subscribe<br/> to our newsletter</h2>
            <p class="mb-10">Signup for our weekly newsletter to get the latest news, updates and amazing offers delivered directly in your inbox.</p>
            <div class="subscribe-form">
              <form id="sf" name="sf" action="include/subscribe.php" method="post">
                <div class="form-process"></div>
                <div class="form-group">
                  <input type="email" id="sf-email" name="sf-email" placeholder="Enter Your Email Address" class="form-control required">
                </div>
                <input type="text" id="sf-botcheck" name="sf-botcheck" value="" class="form-control d-none">
                <button class="btn btn-soft-white btn-block" type="submit" id="sf-submit" name="sf-submit">Notify Me</button>
              </form>
              <div class="subscribe-form-result"></div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- Libs JS -->
    <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/popper.js/dist/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-form/dist/jquery.form.min.js' %}"></script>
    <script src="{% static 'assets/vendor/featherlight/featherlight.min.js' %}"></script>
    <script src="{% static 'assets/vendor/featherlight/featherlight.gallery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jQuery.countdown/dist/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/vendor/vegas/vegas.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.scrollTo/jquery.scrollTo.min.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

  </body>
</html>